.container {
    background-image: url("../../assets/images/header.jpeg");
    background-position: center;
    background-size: cover;
}

.overlay {
    width: calc(100% - 40px);
    padding: 160px 20px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.logo {
    width: 100%;
    max-width: 500px;
}

.logo img {
    width: 100%;
}

.slogan {
    text-align: center;
    font-family: var(--secondary);
    font-size: 40px;
    color: white;
}

@media (max-width: 800px) {
    .overlay {
        padding: 100px 20px 50px;
    }
    .slogan {
        font-size: 30px;
    }
}
