.container {
    padding: 160px 20px 100px;
    background-color: var(--black);
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 100%;
    max-width: 500px;
}

.logo img {
    width: 100%;
}

.slogan {
    text-align: center;
    font-family: (--secondary);
    font-size: 30px;
    color: white;
}
