:root {
    --black: #303030;
    --green: #bffff6;
    --rose: #e3cfd6;
    --red: #e4544a;
    --primary: "Work Sans", sans-serif;
    --secondary: "Fredericka the Great", serif;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: var(--black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--green);
}
