:root {
    --black: #303030;
    --green: #e3e8ad;
    --rose: #e3cfd6;
    --red: #e4544a;
    --work: "Work Sans", sans-serif;
    --shade: "Bungee Shade", sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: var(--black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--green);
}
